
nav {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:0.75rem 0.75rem 0;
  z-index: 300;
  display:inline;
  
  
}
nav img{
  width: 200px;
  height: 80px;
  padding-right: 20%;
  padding-top: 10px;

  
}


.nav-link
{
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-right: 15px;
  padding-left: 200px;
  padding-bottom: 200px;
  margin-bottom: 200px;
  margin-left: 200px;
  

  
}

li
{
  display: inline;
  font-size:60px;
  padding: 0 0 0;
  margin: 0;
  text-decoration: none;
  
}
nav ul{
  display:flex;
  
}
nav a{
  color:black;
  text-decoration: none;
  margin-bottom: 200px;
  margin-top:0px;
  
}

.nav-link2
{
  padding-left: -1px;
  
 
  
}
.nav-link3
{
  padding-right: 0px;
}
.navDiv
{
  border-radius: 25px;
  border-width: 2px;
  border-color: black;
  border-style:solid;
}

