* {
  box-sizing: border-box;
}

.image1{
  padding-top: 10px;
  width: 230px;
  height: auto;
}

.image2 {
  width:80px;
  height:auto;
  padding-right: 20px;
}

.nav-link:hover {
  background-color:#cccfbd;
    
}

.tree { 
  float: right;
}

.Captial {
  float: left;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #989f7a;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a{
  display: block;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 25px;
  font-family: sans serif font Frutiger Italic;
}

li {
  float: left;
}

.nav1 {
  padding-top: 43px;
  padding-left: 50px;
}